# Python / Build
__pycache__/
*.so
*.egg-info/
*.pth
*.pkl
*.npy

# IDE / System / CI
.vscode/
.nfs*
.github/

# Media (Images / Videos / Gifs)
all*.gif
video/
video_rl_game/
local_gifs/
imgs_copy/
trajectory.gif

# Logs / Outputs / Experiments
runs/
.hydra/
local_exps/
sbatch_output/
weighted_displacement_model/results/
weighted_displacement_model/exps/
weighted_displacement_model/exps_all/
output/
logs/
exps/
outputs/
debug/


# External Tools / Libraries / Source
env_construction/
vtamp/
castxml-linux.tar.gz
ompl-1.5.2/
rq.txt
dp3_demo/
3d_diffuser_actor/
articubot/


# Data / Datasets
data/
data
data_/
data_ /
objaverse_utils/data
3d_diffusion_policy/dp3_data/
dataset.zip
one_traj/

# skylos cache
*.sqlite 